@media only screen and (max-width: 450px) {
	#navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #888;
		top: 0px;
		left: 0px;
		width: 100%;
		position: fixed;
		border-bottom: 2px solid green;
	}
	.project {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 10px 0px;
	}

	#projectContainer {
		display: flex;
		flex-direction: column;
	}

	.project img {
		width: 100%;
	}

}

@media only screen and (min-width: 451px) and (max-width: 960px) {
	#navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #888;
		top: 0px;
		left: 0px;
		width: 100%;
		position: fixed;
		border-bottom: 2px solid red;
	}
	.project {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	#projectContainer {
		display: flex;
		justify-content: space-around;
	}

	.project img {
		width: 100%;
	}
}

@media only screen and (min-width: 961px) {
	#navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #888;
		top: 0px;
		left: 0px;
		width: 100%;
		position: fixed;
		border-bottom: 2px solid #777;
	}
	.project {
		display: flex;
		flex-direction: column;
		width: 25%;
	}

	#projectContainer {
		display: flex;
		justify-content: space-around;
	}

	.project img {
		width: 100%;
	}
}

body {
	background-color: #bebebe;
	font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
	margin-top: 85px;
}

#navbar * {
	background-color: #dddddd;
	overflow: hidden;
	float: left;
}
#navbar li a {
	display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li a:hover {
  background-color: #777;
  color: white;
}

.textContainer, .project {
	background-color: #dddddd;
	padding: 20px;
	border-radius: 15px;
}


#contact {
	display: flex;
	justify-content: center;
}

.contactItem {
	margin-left: 10px;
	margin-right: 10px;
}

h1, h2, h3{
	text-align: center;
}

.strikethrough {
	text-decoration: line-through;
}
